.sidebar {
  display: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media (min-width: 1200px) {
    display: flex;
    width: fit-content;
    height: 100vh;
    flex-direction: column;
    padding-inline: 28px;
    min-width: max(270px, 15%);
    }
}

.sidebar__logo {
  align-self: start;
  margin-top: 36px;  
  display: flex;  
  align-items: center;
  gap: 8px;
}


.sidebar__logo > img {
  width: 36px;
}

.sidebar__logo > h2 {
  font-size: 26px;
  font-weight: 600;
}

.sidebar__logo > h2::after {
  content: 'v.01';
  font-size: 10px;
  padding-left: 2px;
  font-weight: 500;
  color: #838383;
}

.sidebar > ul {
  margin-top: 64px;
  align-self: center;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.sidebar > ul > li {
  display: flex;
  gap: 14px;
  transition: transform 0.3s ease;
}

.sidebar > ul > li:not(.active):hover {
  transform: scale(1.05);
  cursor: pointer;
}

.sidebar > ul > li > img, p {
  z-index: 1;
}

.sidebar > ul > li > .arrow-icon {
  margin-left: auto; 
}

.sidebar > ul > .active {
  background-color: #5932EA;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.sidebar > ul > .active::after {
  content: '';
  position: absolute; 
  top: -11px; 
  left: -11px;
  right: -11px;
  bottom: -11px;
  background-color: #5932EA; 
  border-radius: 8px; 
  z-index: 0; 
}

.sidebar__user {
  display: flex;
  margin-top: auto;
  margin-bottom: 76px;
  gap: 12px;
  transition: background-color 0.3s ease;
}

.sidebar__user:hover {
  background-color: #f3f0f0;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar__user > img {
  width: 42px;
  height: 42px;
}

.sidebar__user__info > h4 {
  font-size: 14px;
  text-align: left;
  letter-spacing: 1%;
  line-height: auto;
  font-weight: 500;
}

.sidebar__user__info > p {
  font-size: 12px;
  text-align: left;
  letter-spacing: 1%;
  line-height: auto;
  font-weight: 400;
  color: #757575;
}